html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body{
    background-image:linear-gradient(10deg,#6d047d,#24213d,#c85ebb,#1e1b32,#9904aa,#939c95,#a804bc,#440850,#5a596f);
    height: 100vh;
    width: 100vw;
} */



.header{
    display: flex;
    justify-content: center;
    color: rgb(204, 12, 162);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 4rem;
    /* position: sticky;
    top: 0; */
}

#refresh{
    text-decoration: none;
    color: rgb(17, 2, 17);
    background-color: blueviolet;
    size: 2rem;
    
    padding: 0.5rem; 
   margin-left: 2.7rem;
    
    
    
    
   
  
}
#grid-layout-1{
    display: grid;
    grid-template-columns: repeat(2,100px);
    display: flex;
    
}


#poetry-form-layout{
/* 
    display: flex;
    justify-content: center; */
    position: relative;
    margin-left: 15rem;
    height: 38rem;
    width: 22rem;
    background-color: rgb(108, 146, 18);
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 2rem;



}

#poetry-form{

    margin-left: 2.5rem;

}


#site-description-for-poem{
    /* display: flex;
    justify-content: center; */
    position: absolute;
    left: 15rem;
    top: 0.5rem;
    margin-left: 15rem;
    height: 38rem;
    width: 22rem;
    background-color: rgb(108, 146, 18);
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 2rem;


}

.description-about-the-website{
    font-size: 1.5rem;
    color: rgb(100, 34, 3);
}
#postApoem{
    /* color: blueviolet; */
    display: flex;
    justify-content: center;
    color: rgb(204, 12, 162);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.7rem;
}
    


label{
    /* font-size: 1.5rem;
    color: rgb(204, 12, 162);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    font-size: 1.5rem;
    color: rgb(100, 34, 3);
}


input{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: blueviolet;
}

textarea{
    background-color: blueviolet;
}

#btn-submit{
    text-decoration: none;
    color: rgb(17, 2, 17);
    background-color: blueviolet;
    size: 2rem;
    margin-top: 0.7rem;
    padding: 0.5rem;
}
body{background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}








/* Styling The Server Appendee */

#grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem;
  }








/* Styling The Dom HTML */
#grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.3rem;
}

#bigger-container{
    display: flex;
    font-display: column;
    justify-content: center;
    
}

#poet-image{
    height: 500px;
    width: 500px;
    border-radius: 1rem;
}


#poets-details{
    background-color: rgb(243, 74, 8);
    height: 8rem;
    width: 500px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#poet-key{
    display: flex;
    flex-direction: column;
}

#poem-container{
    width: 500px;
    height: auto;
    background-color: rgb(4, 4, 46);
    margin-left: 0.3rem;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#poet-name{
    padding: 0.3rem 0.6rem 0rem 0.9rem;
    
}

#poet-url{
    padding: 0.3rem 0.6rem 0rem 0.9rem;
    text-decoration: none;


}

#poetry-title{
    padding:0.3rem 0.6rem 0rem 0.9rem;
    color: aliceblue;

}

#poetry-content{
    padding: 1rem;
color: antiquewhite;
}

#poet-url{
    color: rgb(243, 201, 17);
    text-decoration: none;
    font-size: 1.5rem;
    
}

#poet-url:hover{
    color: rgb(16, 212, 196);
    transition: 10ms;
}


#poetry-url{

    color: rgb(243, 201, 17);
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
    text-shadow: 2px 2px 5px red;
}

#poetry-url:hover{
    color: rgb(16, 212, 196);
    transition: 10ms;
}

#poetry-title{
    color: rgb(255, 0, 212);
    text-shadow: 2px 2px 5px red;
}
