html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body{
    background-image:linear-gradient(10deg,#6d047d,#24213d,#c85ebb,#1e1b32,#9904aa,#939c95,#a804bc,#440850,#5a596f);
    height: 100vh;
    width: 100vw;
} */

body{background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}



.header{
    display: flex;
    justify-content: center;
}

/* Styling The Dom HTML */
#grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.3rem;
}

#bigger-container{
    display: flex;
    font-display: column;
    justify-content: center;
    
}

#poet-image{
    height: 500px;
    width: 500px;
    border-radius: 1rem;
}


#poets-details{
    background-color: rgb(243, 74, 8);
    height: 8rem;
    width: 500px;
    border-radius: 1rem;
}

#poet-key{
    display: flex;
    flex-direction: column;
}

#poem-container{
    width: 500px;
    height: auto;
    background-color: rgb(22, 22, 24);
    margin-left: 0.3rem;
    border-radius: 1rem;
}

#poet-name{
    padding: 0.3rem 0.6rem 0rem 0.9rem;
    
}

#poet-url{
    padding: 0.3rem 0.6rem 0rem 0.9rem;
    text-decoration: none;


}

#poetry-title{
    padding:0.3rem 0.6rem 0rem 0.9rem;

}

#poetry-content{
    padding: 1rem;

}