html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Styling The Dom HTML */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.3rem;
}

#bigger-container{
    display: flex;
    font-display: column;
}

#poet-image{
    height: 500px;
    width: 500px;
}


#poets-details{
    background-color: rgb(243, 74, 8);
    height: 8rem;
    width: 500px;
}

#poet-key{
    display: flex;
    flex-direction: column;
}

#poem-container{
    width: 500px;
    height: 630px;
    background-color: blue;
    margin-left: 0.3rem;
}